# MySQL configuration
# For explanations see: http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]
default-character-set=utf8mb4

[mysqld]
user=mysql
datadir=/var/lib/mysql
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
default_authentication_plugin=mysql_native_password
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
connect_timeout=5
wait_timeout=60
max_connections=200
key_buffer_size=16M
max_allowed_packet=16M
skip-external-locking
#log_error=/var/log/mysql/error.log
#slow_query_log=0
#slow_query_log_file=/var/log/mysql/slow.log
#long_query_time=1
#log-queries-not-using-indexes
#expire_logs_days=10

[mysqld_safe]
syslog

[client]
default-character-set=utf8mb4

[mysqldump]
quick
quote-names
max_allowed_packet=16M
default-character-set=utf8mb4
